__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

venv/
tts_env/
.env/
.envrc

.vscode/
.idea/
*.sublime-project
*.sublime-workspace

data/raw/
data/normalized/
data/*.wav
data/*.mp3
data/*.flac

output/
*.pth
*.pt
*.log
*.wav

.ipynb_checkpoints/

.DS_Store
Thumbs.db
desktop.ini